In [77]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [110]:
#import data set
df=pd.read_csv('ipl_ball_by_ball_data.csv')

In [111]:
df.head(3)

   match_id  season  start_date                  venue  innings  ball                 batting_team                 bowling_team     striker  non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
0  335982    2008    2008-04-18  M Chinnaswamy Stadium  1        0.1   Kolkata Knight Riders        Royal Challengers Bangalore  SC Ganguly  BB McCullum  P Kumar   0             1      NaN    NaN      NaN    1.0     NaN       NaN         NaN             NaN                NaN
1  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.1   Royal Challengers Bangalore  Kolkata Knight Riders        W Jaffer    JH Kallis    I Sharma  2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.2   Royal Challengers Bangalore  Kolkata Knight Riders        W Jaffer    JH Kallis    I Sharma  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [112]:
# filter for one match and one innings for simplicity
req_df=df[(df.match_id==335993)&(df.innings==1)]

In [113]:
req_df.head()

      match_id  season  start_date                            venue  innings  ball           batting_team         bowling_team          striker      non_striker           bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
2377  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        12.3  Kolkata Knight Riders  Chennai Super Kings  LR Shukla        Mohammad Hafeez  JDP Oram         1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2378  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        12.4  Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  LR Shukla        JDP Oram         0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2379  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        12.5  Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  LR Shukla        JDP Oram         1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2380  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        12.6  Kolkata Knight Riders  Chennai Super Kings  LR Shukla        Mohammad Hafeez  JDP Oram         0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2381  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        13.6  Kolkata Knight Riders  Chennai Super Kings  LR Shukla        Mohammad Hafeez  Joginder Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [114]:
#sort by ball and assign new name to df
ndf=req_df.sort_values('ball')

In [115]:
ndf

      match_id  season  start_date                            venue  innings  ball           batting_team         bowling_team          striker      non_striker           bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty        wicket_type player_dismissed  other_wicket_type  other_player_dismissed
2608  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.1   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       BB McCullum      JDP Oram         2             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2688  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.2   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       BB McCullum      JDP Oram         1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2606  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.3   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       JDP Oram         0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2563  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.4   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       JDP Oram         1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2459  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.5   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       BB McCullum      JDP Oram         0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2458  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.6   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       BB McCullum      JDP Oram         4             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2457  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        1.1   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       MS Gony          0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2456  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        1.2   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       MS Gony          0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2455  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        1.3   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       MS Gony          0             1      NaN     1.0     NaN   NaN      NaN       NaN                NaN             NaN                NaN
2454  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        1.4   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       MS Gony          4             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2453  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        1.5   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       MS Gony          6             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2452  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        1.6   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       MS Gony          4             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2451  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        1.7   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       MS Gony          1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2450  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        2.1   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       JDP Oram         2             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2449  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        2.2   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       JDP Oram         6             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2448  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        2.3   Kolkata Knight Riders  Chennai Super Kings  BB McCullum      SC Ganguly       JDP Oram         0             0      NaN    NaN      NaN   NaN      NaN       caught             BB McCullum     NaN                NaN
2447  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        2.4   Kolkata Knight Riders  Chennai Super Kings  RT Ponting       SC Ganguly       JDP Oram         0             0      NaN    NaN      NaN   NaN      NaN       caught             RT Ponting      NaN                NaN
2446  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        2.5   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       JDP Oram         0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2445  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        2.6   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       JDP Oram         0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2444  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        3.1   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       WP Saha          MS Gony          1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2443  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        3.2   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       MS Gony          0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2442  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        3.3   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       MS Gony          4             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2441  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        3.4   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       MS Gony          0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2440  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        3.5   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       MS Gony          0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2439  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        3.6   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       MS Gony          1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2438  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        4.1   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       P Amarnath       0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2437  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        4.2   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       P Amarnath       0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2436  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        4.3   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       P Amarnath       0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2435  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        4.4   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       P Amarnath       4             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2460  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        4.5   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       P Amarnath       4             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2462  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        4.6   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       P Amarnath       4             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2489  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        5.1   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       WP Saha          MS Gony          0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2463  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        5.2   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       WP Saha          MS Gony          1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2488  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        5.3   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       MS Gony          4             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2487  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        5.4   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       MS Gony          6             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2486  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        5.5   Kolkata Knight Riders  Chennai Super Kings  WP Saha          SC Ganguly       MS Gony          0             0      NaN    NaN      NaN   NaN      NaN       bowled             WP Saha         NaN                NaN
2485  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        5.6   Kolkata Knight Riders  Chennai Super Kings  DJ Hussey        SC Ganguly       MS Gony          0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2484  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        6.1   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       DJ Hussey        M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2483  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        6.2   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       DJ Hussey        M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2482  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        6.3   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       DJ Hussey        M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2481  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        6.4   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       DJ Hussey        M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2480  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        6.5   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       DJ Hussey        M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2479  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        6.6   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       DJ Hussey        M Muralitharan   0             1       1.0   NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2478  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        6.7   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       DJ Hussey        M Muralitharan   1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2477  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        7.1   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       DJ Hussey        P Amarnath       1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2433  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        7.2   Kolkata Knight Riders  Chennai Super Kings  DJ Hussey        SC Ganguly       P Amarnath       0             0      NaN    NaN      NaN   NaN      NaN       caught             DJ Hussey       NaN                NaN
2475  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        7.3   Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  SC Ganguly       P Amarnath       0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2474  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        7.4   Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  SC Ganguly       P Amarnath       0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2473  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        7.5   Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  SC Ganguly       P Amarnath       0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2472  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        7.6   Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  SC Ganguly       P Amarnath       1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2471  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        8.1   Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  SC Ganguly       M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2470  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        8.2   Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  SC Ganguly       M Muralitharan   1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2469  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        8.3   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       Mohammad Hafeez  M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2468  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        8.4   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       Mohammad Hafeez  M Muralitharan   0             1       1.0   NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2467  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        8.5   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       Mohammad Hafeez  M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2466  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        8.6   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       Mohammad Hafeez  M Muralitharan   1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2465  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        8.7   Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  SC Ganguly       M Muralitharan   1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2464  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        9.1   Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  SC Ganguly       Joginder Sharma  1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2434  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        9.2   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       Mohammad Hafeez  Joginder Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2461  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        9.3   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly       Mohammad Hafeez  Joginder Sharma  0             0      NaN    NaN      NaN   NaN      NaN       caught             SC Ganguly      NaN                NaN
2432  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        9.4   Kolkata Knight Riders  Chennai Super Kings  LR Shukla        Mohammad Hafeez  Joginder Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2418  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        9.5   Kolkata Knight Riders  Chennai Super Kings  LR Shukla        Mohammad Hafeez  Joginder Sharma  1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2400  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        9.6   Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  LR Shukla        Joginder Sharma  1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2399  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        10.1  Kolkata Knight Riders  Chennai Super Kings  Mohammad Hafeez  LR Shukla        M Muralitharan   1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN
2398  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        10.2  Kolkata Knight Riders  Chennai Super Kings  LR Shukla        Mohammad Hafeez  M Muralitharan   1             0      NaN    NaN      NaN   NaN      NaN       NaN                NaN             NaN                NaN

In [116]:
# unique vals of striker
a=ndf.striker.unique()
a

array(['SC Ganguly', 'BB McCullum', 'RT Ponting', 'WP Saha', 'DJ Hussey',
       'Mohammad Hafeez', 'LR Shukla', 'AB Agarkar', 'M Kartik',
       'I Sharma'], dtype=object)

In [117]:
# unique vals of non_striker
b=ndf.non_striker.unique()
b

array(['BB McCullum', 'SC Ganguly', 'WP Saha', 'DJ Hussey',
       'Mohammad Hafeez', 'LR Shukla', 'AB Agarkar', 'M Kartik',
       'I Sharma', 'AB Dinda'], dtype=object)

In [118]:
#zip a and b
combine=[]
for aval, bval in zip(a, b):
    print(aval,bval)

SC Ganguly BB McCullum
BB McCullum SC Ganguly
RT Ponting WP Saha
WP Saha DJ Hussey
DJ Hussey Mohammad Hafeez
Mohammad Hafeez LR Shukla
LR Shukla AB Agarkar
AB Agarkar M Kartik
M Kartik I Sharma
I Sharma AB Dinda

In [119]:
#append in the for of stiker,nonstriker form for unique set of vals
combine_list=[]
for aval, bval in zip(a, b):
    combine_list.append(aval)
    combine_list.append(bval)
combine_list

['SC Ganguly',
 'BB McCullum',
 'BB McCullum',
 'SC Ganguly',
 'RT Ponting',
 'WP Saha',
 'WP Saha',
 'DJ Hussey',
 'DJ Hussey',
 'Mohammad Hafeez',
 'Mohammad Hafeez',
 'LR Shukla',
 'LR Shukla',
 'AB Agarkar',
 'AB Agarkar',
 'M Kartik',
 'M Kartik',
 'I Sharma',
 'I Sharma',
 'AB Dinda']

In [120]:
# get unique vals using set
# This doesn't serve the purpose as it is not in order
print(set(combine_list))

{'RT Ponting', 'Mohammad Hafeez', 'SC Ganguly', 'I Sharma', 'LR Shukla', 'AB Dinda', 'AB Agarkar', 'BB McCullum', 'M Kartik', 'WP Saha', 'DJ Hussey'}

In [121]:
#function to get the right order

def bat_order(list1):
    proper_list = []   
    for x in combine_list:
       
        if x not in proper_list:
            proper_list.append(x)

    return (proper_list)      

fdf=bat_order(combine_list)
fdf

['SC Ganguly',
 'BB McCullum',
 'RT Ponting',
 'WP Saha',
 'DJ Hussey',
 'Mohammad Hafeez',
 'LR Shukla',
 'AB Agarkar',
 'M Kartik',
 'I Sharma',
 'AB Dinda']

In [122]:
#convert to df and rename column
bat_order_df=pd.DataFrame(fdf).rename(columns={0:'Batsman'})

In [123]:
bat_order_df

            Batsman
0   SC Ganguly
1   BB McCullum
2   RT Ponting
3   WP Saha
4   DJ Hussey
5   Mohammad Hafeez
6   LR Shukla
7   AB Agarkar
8   M Kartik
9   I Sharma
10  AB Dinda

In [124]:
#batting order number as new col
bat_order_df['Bat_order'] = range(1, len(bat_order_df)+1)

In [125]:
bat_order_df

            Batsman  Bat_order
0   SC Ganguly       1
1   BB McCullum      2
2   RT Ponting       3
3   WP Saha          4
4   DJ Hussey        5
5   Mohammad Hafeez  6
6   LR Shukla        7
7   AB Agarkar       8
8   M Kartik         9
9   I Sharma         10
10  AB Dinda         11

In [126]:
ndf.head()

      match_id  season  start_date                            venue  innings  ball           batting_team         bowling_team      striker  non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
2608  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.1   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly   BB McCullum  JDP Oram  2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2688  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.2   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly   BB McCullum  JDP Oram  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2606  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.3   Kolkata Knight Riders  Chennai Super Kings  BB McCullum  SC Ganguly   JDP Oram  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2563  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.4   Kolkata Knight Riders  Chennai Super Kings  BB McCullum  SC Ganguly   JDP Oram  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2459  335993    2008    2008-04-26  MA Chidambaram Stadium, Chepauk  1        0.5   Kolkata Knight Riders  Chennai Super Kings  SC Ganguly   BB McCullum  JDP Oram  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [127]:
runs_df = pd.DataFrame(ndf.groupby(['match_id','innings','striker'])['runs_off_bat'].sum()).reset_index().rename(columns={'striker':'Batsman','runs_off_bat':'Runs'})
runs_df

   match_id  innings          Batsman  Runs
0  335993    1        AB Agarkar       11
1  335993    1        BB McCullum      24
2  335993    1        DJ Hussey        0
3  335993    1        I Sharma         4
4  335993    1        LR Shukla        42
5  335993    1        M Kartik         3
6  335993    1        Mohammad Hafeez  16
7  335993    1        RT Ponting       0
8  335993    1        SC Ganguly       12
9  335993    1        WP Saha          27

In [96]:
balls_df = pd.DataFrame(ndf.groupby(['match_id','innings','striker'])['runs_off_bat'].count()).reset_index().rename(columns={'striker':'Batsman','runs_off_bat':'Runs'})
balls_df

   match_id  innings          Batsman  Runs
0  335982    1        BB McCullum      77
1  335982    1        DJ Hussey        12
2  335982    1        Mohammad Hafeez  3
3  335982    1        RT Ponting       20
4  335982    1        SC Ganguly       12

In [128]:
final_df = bat_order_df.merge(runs_df, on = 'Batsman', how = 'left')

In [129]:
final_df

            Batsman  Bat_order  match_id  innings  Runs
0   SC Ganguly       1          335993.0  1.0      12.0
1   BB McCullum      2          335993.0  1.0      24.0
2   RT Ponting       3          335993.0  1.0      0.0
3   WP Saha          4          335993.0  1.0      27.0
4   DJ Hussey        5          335993.0  1.0      0.0
5   Mohammad Hafeez  6          335993.0  1.0      16.0
6   LR Shukla        7          335993.0  1.0      42.0
7   AB Agarkar       8          335993.0  1.0      11.0
8   M Kartik         9          335993.0  1.0      3.0
9   I Sharma         10         335993.0  1.0      4.0
10  AB Dinda         11        NaN       NaN      NaN

In [99]:
k=final_df.loc[:, ["match_id","innings","Bat_order","Batsman","Runs"]]

In [100]:
k

   match_id  innings  Bat_order          Batsman  Runs
0  335982    1        1          SC Ganguly       10
1  335982    1        2          BB McCullum      158
2  335982    1        3          RT Ponting       20
3  335982    1        4          DJ Hussey        12
4  335982    1        5          Mohammad Hafeez  5

In [101]:
df.head()

   match_id  season  start_date                  venue  innings  ball                 batting_team                 bowling_team     striker  non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
0  335982    2008    2008-04-18  M Chinnaswamy Stadium  1        0.1   Kolkata Knight Riders        Royal Challengers Bangalore  SC Ganguly  BB McCullum  P Kumar   0             1      NaN    NaN      NaN    1.0     NaN       NaN         NaN             NaN                NaN
1  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.1   Royal Challengers Bangalore  Kolkata Knight Riders        W Jaffer    JH Kallis    I Sharma  2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.2   Royal Challengers Bangalore  Kolkata Knight Riders        W Jaffer    JH Kallis    I Sharma  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
3  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.3   Royal Challengers Bangalore  Kolkata Knight Riders        JH Kallis   W Jaffer     I Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
4  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.4   Royal Challengers Bangalore  Kolkata Knight Riders        JH Kallis   W Jaffer     I Sharma  0             1      NaN    NaN      NaN    1.0     NaN       NaN         NaN             NaN                NaN

In [102]:
df['total_runs']=df['runs_off_bat']+df['extras']

In [103]:
df.head()

   match_id  season  start_date                  venue  innings  ball                 batting_team                 bowling_team     striker  non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  total_runs
0  335982    2008    2008-04-18  M Chinnaswamy Stadium  1        0.1   Kolkata Knight Riders        Royal Challengers Bangalore  SC Ganguly  BB McCullum  P Kumar   0             1      NaN    NaN      NaN    1.0     NaN       NaN         NaN             NaN                NaN                      1
1  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.1   Royal Challengers Bangalore  Kolkata Knight Riders        W Jaffer    JH Kallis    I Sharma  2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2
2  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.2   Royal Challengers Bangalore  Kolkata Knight Riders        W Jaffer    JH Kallis    I Sharma  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1
3  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.3   Royal Challengers Bangalore  Kolkata Knight Riders        JH Kallis   W Jaffer     I Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0
4  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.4   Royal Challengers Bangalore  Kolkata Knight Riders        JH Kallis   W Jaffer     I Sharma  0             1      NaN    NaN      NaN    1.0     NaN       NaN         NaN             NaN                NaN                      1

In [104]:
mbm_df=pd.DataFrame(df.groupby(['season','match_id','innings','batting_team'])['total_runs'].sum()).reset_index()

In [105]:
mbm_df.head()

   season  match_id  innings                 batting_team  total_runs
0  2008    335982    1        Kolkata Knight Riders        222
1  2008    335982    2        Royal Challengers Bangalore  82
2  2008    335983    1        Chennai Super Kings          240
3  2008    335983    2        Kings XI Punjab              207
4  2008    335984    1        Rajasthan Royals             129

In [106]:
mbm_df[mbm_df.batting_team=='Kolkata Knight Riders'].head()

    season  match_id  innings           batting_team  total_runs
0   2008    335982    1        Kolkata Knight Riders  222
9   2008    335986    2        Kolkata Knight Riders  112
22  2008    335993    1        Kolkata Knight Riders  147
30  2008    335997    1        Kolkata Knight Riders  137
37  2008    336000    2        Kolkata Knight Riders  151

In [31]:
print(len(mbm_df),len(mbm_df)/2) #How many matches are there in this DS

1718 859.0

In [32]:
len(mbm_df[mbm_df.innings==3]) ## matches with super over

14

In [33]:
859-14 ##actual number of matches

845

In [34]:
df[df.match_id==1254084].head()

        match_id  season  start_date                        venue  innings  ball    batting_team         bowling_team    striker non_striker     bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  total_runs
199921  1254084   2021    2021-05-01  Arun Jaitley Stadium, Delhi  2        5.5   Mumbai Indians  Chennai Super Kings  Q de Kock  RG Sharma   L Ngidi    4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      4
199922  1254084   2021    2021-05-01  Arun Jaitley Stadium, Delhi  2        7.2   Mumbai Indians  Chennai Super Kings  RG Sharma  Q de Kock   SN Thakur  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1
199923  1254084   2021    2021-05-01  Arun Jaitley Stadium, Delhi  2        7.1   Mumbai Indians  Chennai Super Kings  Q de Kock  RG Sharma   SN Thakur  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1
199924  1254084   2021    2021-05-01  Arun Jaitley Stadium, Delhi  2        6.7   Mumbai Indians  Chennai Super Kings  RG Sharma  Q de Kock   DL Chahar  2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2
199925  1254084   2021    2021-05-01  Arun Jaitley Stadium, Delhi  2        6.6   Mumbai Indians  Chennai Super Kings  RG Sharma  Q de Kock   DL Chahar  0             1       1.0   NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1

In [35]:
matches=list(set(mbm_df.match_id.tolist()))
len(matches)  ## 845 matches with previous calculations.

845

In [36]:
inn=[1,2]  #considering only 2 innings for simplicity

In [108]:
#function to get SC for one match

import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

def ipl(matchid, inning):
    df=pd.read_csv('ipl_ball_by_ball_data.csv')
    
    req_df=df[(df.match_id==matchid)&(df.innings== inning)]     
    
    ndf=req_df.sort_values('ball')           
    a=ndf.striker.unique()
    b=ndf.non_striker.unique() 
       
    combine_list=[]
    for aval, bval in zip(a, b):
        combine_list.append(aval)
        combine_list.append(bval) 
    setcombine_list = (set(combine_list))

    def bat_order(list1):
        proper_list = []   
        for x in combine_list:

            if x not in proper_list:
                proper_list.append(x)

        return (proper_list)      

    fdf=bat_order(combine_list)
    

    bat_order_df=pd.DataFrame(fdf).rename(columns={0:'Batsman'})
    
    bat_order_df['Bat_order'] = range(1, len(bat_order_df)+1)
    
    runs_df = pd.DataFrame(ndf.groupby(['match_id','innings','striker'])['runs_off_bat'].sum()).reset_index().rename(columns={'striker':'Batsman','runs_off_bat':'Runs'})

    final_df = bat_order_df.merge(runs_df, on = 'Batsman', how = 'left')
    order_df=final_df.loc[:, ["match_id","innings","Bat_order","Batsman","Runs"]]
    return order_df

ipl(matchid = 335993 , inning = 1)

    match_id  innings  Bat_order          Batsman  Runs
0   335993.0  1.0      1          SC Ganguly       12.0
1   335993.0  1.0      2          BB McCullum      24.0
2   335993.0  1.0      3          RT Ponting       0.0
3   335993.0  1.0      4          WP Saha          27.0
4   335993.0  1.0      5          DJ Hussey        0.0
5   335993.0  1.0      6          Mohammad Hafeez  16.0
6   335993.0  1.0      7          LR Shukla        42.0
7   335993.0  1.0      8          AB Agarkar       11.0
8   335993.0  1.0      9          M Kartik         3.0
9   335993.0  1.0      10         I Sharma         4.0
10 NaN       NaN       11         AB Dinda        NaN

In [38]:
mbm_df[mbm_df.batting_team=='Kolkata Knight Riders'].head()

    season  match_id  innings           batting_team  total_runs
0   2008    335982    1        Kolkata Knight Riders  222
9   2008    335986    2        Kolkata Knight Riders  112
22  2008    335993    1        Kolkata Knight Riders  147
30  2008    335997    1        Kolkata Knight Riders  137
37  2008    336000    2        Kolkata Knight Riders  151

In [39]:
tdf = mbm_df.head()

In [40]:
tdf

   season  match_id  innings                 batting_team  total_runs
0  2008    335982    1        Kolkata Knight Riders        222
1  2008    335982    2        Royal Challengers Bangalore  82
2  2008    335983    1        Chennai Super Kings          240
3  2008    335983    2        Kings XI Punjab              207
4  2008    335984    1        Rajasthan Royals             129

In [41]:
for column in tdf[['match_id','innings']]:
    print(tdf[column])

0    335982
1    335982
2    335983
3    335983
4    335984
Name: match_id, dtype: int64
0    1
1    2
2    1
3    2
4    1
Name: innings, dtype: int64

In [64]:
first_match = 335982  #to initialise and set up df to append.

In [65]:
sc_df = ipl(matchid = first_match , inning = 1)
sc_in2=ipl(matchid = first_match , inning = 2)

In [66]:
sc_df

   match_id  innings  Bat_order          Batsman  Runs
0  335982    1        1          SC Ganguly       10
1  335982    1        2          BB McCullum      158
2  335982    1        3          RT Ponting       20
3  335982    1        4          DJ Hussey        12
4  335982    1        5          Mohammad Hafeez  5

In [67]:
sc_in2

    match_id  innings  Bat_order     Batsman  Runs
0   335982    2        1          R Dravid    2
1   335982    2        2          W Jaffer    6
2   335982    2        3          V Kohli     1
3   335982    2        4          JH Kallis   8
4   335982    2        5          CL White    6
5   335982    2        6          MV Boucher  7
6   335982    2        7          B Akhil     0
7   335982    2        8          AA Noffke   9
8   335982    2        9          P Kumar     18
9   335982    2        10         Z Khan      3
10  335982    2        11         SB Joshi    3

In [68]:
sc_df=sc_df.append(sc_in2).reset_index(drop=True)

In [69]:
sc_df

    match_id  innings  Bat_order          Batsman  Runs
0   335982    1        1          SC Ganguly       10
1   335982    1        2          BB McCullum      158
2   335982    1        3          RT Ponting       20
3   335982    1        4          DJ Hussey        12
4   335982    1        5          Mohammad Hafeez  5
5   335982    2        1          R Dravid         2
6   335982    2        2          W Jaffer         6
7   335982    2        3          V Kohli          1
8   335982    2        4          JH Kallis        8
9   335982    2        5          CL White         6
10  335982    2        6          MV Boucher       7
11  335982    2        7          B Akhil          0
12  335982    2        8          AA Noffke        9
13  335982    2        9          P Kumar          18
14  335982    2        10         Z Khan           3
15  335982    2        11         SB Joshi         3

In [70]:
mid=[1254086,598017] #get list for mid through function, exclude the first match used for sc_
inn=[1,2]

In [71]:
print(first_match)
print(len(matches))

335982
845

In [72]:
#calculation to replace mid calc below
m_ids = []

for i in matches:
    if i != first_match:
        m_ids.append(i)

In [73]:
print(len(m_ids))
print(inn)

844
[1, 2]

In [74]:
#sanity check
first_match in m_ids

False

In [75]:
sc_df

    match_id  innings  Bat_order          Batsman  Runs
0   335982    1        1          SC Ganguly       10
1   335982    1        2          BB McCullum      158
2   335982    1        3          RT Ponting       20
3   335982    1        4          DJ Hussey        12
4   335982    1        5          Mohammad Hafeez  5
5   335982    2        1          R Dravid         2
6   335982    2        2          W Jaffer         6
7   335982    2        3          V Kohli          1
8   335982    2        4          JH Kallis        8
9   335982    2        5          CL White         6
10  335982    2        6          MV Boucher       7
11  335982    2        7          B Akhil          0
12  335982    2        8          AA Noffke        9
13  335982    2        9          P Kumar          18
14  335982    2        10         Z Khan           3
15  335982    2        11         SB Joshi         3

In [76]:
#this is it!!
for i in mid:
    #print(i)
    for j in inn:
        #print(j)
        dfm=ipl(matchid = i , inning = j)
        #print(dfm)
            #print(dfm)
        sc_df= sc_df.append(dfm).reset_index(drop=True)
            #print(sc)

sc_df

    match_id  innings  Bat_order           Batsman  Runs
0   335982    1        1          SC Ganguly        10
1   335982    1        2          BB McCullum       158
2   335982    1        3          RT Ponting        20
3   335982    1        4          DJ Hussey         12
4   335982    1        5          Mohammad Hafeez   5
5   335982    2        1          R Dravid          2
6   335982    2        2          W Jaffer          6
7   335982    2        3          V Kohli           1
8   335982    2        4          JH Kallis         8
9   335982    2        5          CL White          6
10  335982    2        6          MV Boucher        7
11  335982    2        7          B Akhil           0
12  335982    2        8          AA Noffke         9
13  335982    2        9          P Kumar           18
14  335982    2        10         Z Khan            3
15  335982    2        11         SB Joshi          3
16  1254086   1        1          P Simran Singh    12
17  1254086   1        2          MA Agarwal        99
18  1254086   1        3          CH Gayle          13
19  1254086   1        4          DJ Malan          26
20  1254086   1        5          DJ Hooda          1
21  1254086   1        6          M Shahrukh Khan   4
22  1254086   1        7          CJ Jordan         2
23  1254086   1        8          Harpreet Brar     4
24  1254086   2        1          PP Shaw           39
25  1254086   2        2          S Dhawan          69
26  1254086   2        3          SPD Smith         24
27  1254086   2        4          RR Pant           14
28  1254086   2        5          SO Hetmyer        16
29  598017    1        1          DA Warner         15
30  598017    1        2          V Sehwag          25
31  598017    1        3          MC Juneja         17
32  598017    1        4          DPMD Jayawardene  28
33  598017    1        5          BJ Rohrer         14
34  598017    1        6          KM Jadhav         29
35  598017    1        7          IK Pathan         19
36  598017    2        1          CH Gayle          13
37  598017    2        2          KL Rahul          12
38  598017    2        3          AB de Villiers    39
39  598017    2        4          V Kohli           65
40  598017    2        5          AB McDonald       0
41  598017    2        6          KB Arun Karthik   5
42  598017    2        7          J Syed Mohammad   1
43  598017    2        8          R Vinay Kumar     1
44  598017    2        9          R Rampaul         12

In [55]:
# #this is it!!
# for i in m_ids:
#     #print(i)
#     for j in inn:
#         #print(j)
#         dfm=ipl(matchid = i , inning = j)
#         #print(dfm)
#             #print(dfm)
#         sc_df= sc_df.append(dfm).reset_index(drop=True)
#             #print(sc)

# sc_df.head(20)

In [148]:
for index, item in enumerate(m_ids):
    print(item)
    if index == 3:
        break

598016
598017
598018
598019

In [59]:
sc_df2 = ipl(matchid = first_match , inning = 1)
sc_in2=ipl(matchid = first_match , inning = 2)

sc_df2=sc_df2.append(sc_in2).reset_index(drop=True)

sc_df2

    match_id  innings  Bat_order          Batsman  Runs
0   335982    1        1          SC Ganguly       10
1   335982    1        2          BB McCullum      158
2   335982    1        3          RT Ponting       20
3   335982    1        4          DJ Hussey        12
4   335982    1        5          Mohammad Hafeez  5
5   335982    2        1          R Dravid         2
6   335982    2        2          W Jaffer         6
7   335982    2        3          V Kohli          1
8   335982    2        4          JH Kallis        8
9   335982    2        5          CL White         6
10  335982    2        6          MV Boucher       7
11  335982    2        7          B Akhil          0
12  335982    2        8          AA Noffke        9
13  335982    2        9          P Kumar          18
14  335982    2        10         Z Khan           3
15  335982    2        11         SB Joshi         3

In [57]:
# #this is it!!
# for i in m_ids:
#     #print(i)
#     for j in inn:
#         #print(j)
#         dfm=ipl(matchid = i , inning = j)
#         #print(dfm)
#             #print(dfm)
#         sc_df2= sc_df2.append(dfm).reset_index(drop=True)
#             #print(sc)

# sc_df.head(20)

In [135]:
for index, item in enumerate(m_ids,start=100):
    print(index, item)

100 598016
101 598017
102 598018
103 598019
104 598020
105 598021
106 598022
107 598023
108 598024
109 598025
110 598026
111 598027
112 598028
113 598029
114 598030
115 598031
116 598032
117 598033
118 598034
119 598035
120 598036
121 598037
122 598038
123 598039
124 598040
125 598041
126 598042
127 598043
128 598044
129 598045
130 598046
131 598047
132 598048
133 598049
134 598050
135 598051
136 598052
137 598053
138 598054
139 548312
140 598055
141 598056
142 598057
143 598058
144 598059
145 598060
146 598061
147 598062
148 598063
149 598064
150 598065
151 598066
152 598067
153 598068
154 598069
155 598070
156 598071
157 598072
158 598073
159 981015
160 981017
161 1181764
162 1181766
163 1181767
164 981019
165 1181768
166 335983
167 335984
168 335985
169 335986
170 335987
171 335988
172 335989
173 335990
174 335991
175 335992
176 335993
177 335994
178 335995
179 335996
180 335997
181 335998
182 335999
183 336000
184 336001
185 336002
186 336003
187 336004
188 336005
189 336006
190 336007
191 336008
192 336009
193 336010
194 336011
195 336012
196 336013
197 336014
198 336015
199 336016
200 336017
201 336018
202 336019
203 336020
204 336021
205 336022
206 336023
207 336024
208 336025
209 336026
210 336027
211 336028
212 336029
213 336031
214 336032
215 336033
216 336034
217 336035
218 336036
219 336037
220 336038
221 336039
222 336040
223 1237177
224 1237178
225 1237180
226 1237181
227 729279
228 729281
229 729283
230 729285
231 729287
232 729289
233 729291
234 729293
235 729295
236 729297
237 729299
238 729301
239 729303
240 729305
241 729307
242 729309
243 729311
244 729313
245 729315
246 729317
247 829705
248 829707
249 829709
250 829711
251 829713
252 829715
253 829717
254 829719
255 829721
256 829723
257 829725
258 829727
259 829729
260 548362
261 829731
262 829733
263 829735
264 548363
265 829737
266 829739
267 548364
268 829741
269 829743
270 1216492
271 829745
272 829747
273 829749
274 829751
275 829753
276 548367
277 829757
278 829759
279 1216531
280 548368
281 829761
282 829763
283 829765
284 548369
285 829767
286 829769
287 1216493
288 548370
289 829771
290 829773
291 1136566
292 829775
293 548371
294 829777
295 829779
296 548372
297 829781
298 829783
299 1136568
300 829785
301 548373
302 829787
303 829789
304 548374
305 829791
306 829793
307 1136570
308 829795
309 548375
310 829797
311 1216494
312 829799
313 829801
314 1136572
315 829803
316 829805
317 829807
318 1136573
319 829809
320 829811
321 1136574
322 829813
323 829815
324 829817
325 829819
326 829821
327 829823
328 1136576
329 1136578
330 1136580
331 1136582
332 1136583
333 1136584
334 1136586
335 1136588
336 1136590
337 1136592
338 1136593
339 1136594
340 1136596
341 1136598
342 1136600
343 1136602
344 1136603
345 1136604
346 1136606
347 1136608
348 1136610
349 1136612
350 1136613
351 1216533
352 1136614
353 1136615
354 1136616
355 1136617
356 501203
357 1136618
358 501204
359 1136619
360 501205
361 1136620
362 501206
363 501207
364 501208
365 501209
366 501210
367 501211
368 501212
369 501213
370 501214
371 501215
372 501216
373 501218
374 501219
375 501220
376 501221
377 1254058
378 1254059
379 1254060
380 1254061
381 501222
382 1254062
383 1254063
384 1254064
385 1254065
386 501223
387 1254066
388 1254067
389 1216534
390 1254068
391 501224
392 1254069
393 1254070
394 1254071
395 1254072
396 1254073
397 1254074
398 1254075
399 1254076
400 1254077
401 501226
402 1254078
403 1254079
404 1254080
405 1254081
406 1254082
407 1254083
408 1254084
409 1254085
410 1254086
411 501228
412 501229
413 501230
414 501231
415 501232
416 501233
417 501234
418 501235
419 501236
420 501237
421 501238
422 501239
423 501240
424 501241
425 1178412
426 501242
427 733971
428 733973
429 501243
430 733975
431 733977
432 1178393
433 733979
434 501244
435 733981
436 1178394
437 733983
438 1178395
439 501245
440 733985
441 733987
442 1178396
443 733989
444 501246
445 733991
446 1178399
447 733993
448 1178401
449 501247
450 733995
451 733997
452 1178405
453 733999
454 1178407
455 734001
456 1178409
457 734003
458 1178411
459 734005
460 501249
461 734007
462 1178415
463 734009
464 1178417
465 734011
466 1178419
467 734013
468 1178421
469 734015
470 1178414
471 734017
472 1178425
473 734019
474 1178427
475 734021
476 1178429
477 734023
478 1178431
479 734025
480 734027
481 734029
482 734031
483 734033
484 734035
485 734037
486 734039
487 501256
488 734041
489 734043
490 734045
491 501257
492 734047
493 734049
494 981001
495 1178416
496 981003
497 1178418
498 981005
499 1178420
500 392181
501 392182
502 392183
503 392184
504 392185
505 392186
506 981007
507 392188
508 392189
509 392190
510 392191
511 392192
512 392194
513 392195
514 392196
515 392197
516 392198
517 392199
518 392200
519 392201
520 392202
521 392203
522 392204
523 392205
524 392206
525 392207
526 392208
527 392209
528 392210
529 392211
530 392212
531 392213
532 392214
533 392215
534 392216
535 392217
536 392218
537 392219
538 392220
539 392221
540 392222
541 392223
542 392224
543 392225
544 392226
545 392227
546 392228
547 392229
548 392230
549 392231
550 392232
551 392233
552 392234
553 392235
554 392236
555 392237
556 392238
557 392239
558 981009
559 1216495
560 1216496
561 1216497
562 1178424
563 1216498
564 1216499
565 1216500
566 1178422
567 1216501
568 1216502
569 1216503
570 1216504
571 1216505
572 981011
573 1216506
574 1216507
575 1178426
576 1216508
577 1216509
578 1216510
579 1216511
580 1216512
581 1216513
582 1216514
583 1216515
584 981013
585 1216516
586 1216517
587 1178428
588 1216518
589 1216519
590 1216520
591 1216521
592 1216522
593 1216523
594 1216524
595 1216525
596 1178423
597 1216526
598 1216527
599 1178430
600 1216528
601 1216529
602 1216530
603 1082591
604 1082592
605 1082593
606 1082594
607 1082595
608 1082596
609 1082597
610 1082598
611 1082599
612 1082600
613 1082601
614 1082602
615 1082603
616 1082604
617 1082605
618 1082606
619 1082607
620 1082608
621 1082609
622 1082610
623 1082611
624 1082612
625 1082613
626 1082614
627 1082615
628 1082616
629 1082617
630 1082618
631 1216535
632 1082620
633 1082621
634 1082622
635 1082623
636 1082624
637 1082625
638 1082626
639 1082627
640 1082628
641 1082629
642 1082630
643 1082631
644 1082632
645 1082633
646 1082634
647 1082635
648 1082636
649 1082637
650 1082638
651 1082639
652 1082640
653 1082641
654 1082642
655 1082643
656 1082644
657 1082645
658 1082646
659 1082647
660 1082648
661 1082649
662 1082650
663 1216541
664 1216542
665 1216543
666 1216532
667 419106
668 419107
669 419108
670 419109
671 419110
672 419111
673 419112
674 419113
675 419114
676 419115
677 419116
678 419117
679 419118
680 419119
681 419120
682 419121
683 419122
684 419123
685 419124
686 419125
687 419126
688 419127
689 419128
690 419129
691 419130
692 419131
693 419132
694 419133
695 419134
696 419135
697 419136
698 419137
699 419138
700 419139
701 419140
702 419141
703 419142
704 419143
705 419144
706 419145
707 419146
708 419147
709 419148
710 419149
711 419150
712 419151
713 419152
714 419153
715 419154
716 419155
717 419156
718 419157
719 419158
720 419159
721 419160
722 419161
723 419162
724 419163
725 419164
726 419165
727 1216536
728 1216537
729 1216540
730 1216538
731 1216539
732 501198
733 501199
734 501200
735 501201
736 548306
737 548307
738 548308
739 548309
740 548310
741 548311
742 501202
743 548313
744 548314
745 548315
746 548316
747 548317
748 548318
749 548319
750 548320
751 548321
752 548322
753 548323
754 548324
755 548325
756 548326
757 548327
758 548328
759 548329
760 548330
761 548331
762 548332
763 548333
764 548334
765 548335
766 548336
767 548337
768 501225
769 548339
770 501227
771 548341
772 548342
773 548343
774 548344
775 548345
776 548346
777 548347
778 548348
779 548349
780 548350
781 548351
782 501248
783 548352
784 501250
785 501251
786 501252
787 501253
788 501254
789 501255
790 548353
791 548354
792 548355
793 548356
794 548357
795 548365
796 548366
797 548358
798 548359
799 548360
800 548361
801 501258
802 501259
803 501260
804 501261
805 501262
806 501263
807 501264
808 501265
809 501266
810 501267
811 501268
812 501269
813 501270
814 501271
815 548376
816 548377
817 548378
818 548379
819 548380
820 548381
821 1216544
822 1216545
823 1216546
824 1216547
825 1175356
826 1175357
827 1175358
828 1175359
829 1175360
830 1175361
831 1175362
832 1175363
833 1175364
834 1175365
835 1175366
836 1175367
837 1175368
838 1175369
839 1175370
840 1175371
841 1175372
842 1178397
843 980975
844 1178413
845 1178398
846 980977
847 1178400
848 980979
849 1178402
850 980981
851 1178403
852 1178404
853 980983
854 1178406
855 980985
856 1178408
857 980901
858 980903
859 980987
860 980905
861 980907

862 1178410
863 980909
864 980911
865 980913
866 980989
867 980915
868 1136561
869 980917
870 1136562
871 980919
872 1136563
873 980921
874 1136564
875 980923
876 980991
877 980925
878 1136565
879 980927
880 1136567
881 980929
882 1136569
883 980931
884 1136571
885 980933
886 980993
887 980935
888 1136575
889 980937
890 1136577
891 980939
892 1136579
893 980941
894 1136581
895 980943
896 980995
897 980945
898 1136585
899 980947
900 1136587
901 980949
902 1136589
903 980951
904 1136591
905 980953
906 980997
907 980955
908 1136595
909 980957
910 1136597
911 980959
912 1136599
913 980961
914 1136601
915 980963
916 980999
917 980965
918 1136605
919 980967
920 1136607
921 980969
922 1136609
923 980971
924 1136611
925 980973
926 597998
927 597999
928 598000
929 598001
930 598002
931 598003
932 598004
933 598005
934 598006
935 598007
936 598008
937 598009
938 598010
939 598011
940 598012
941 598013
942 598014
943 598015

In [ ]:
for k, i in zip(range(0,10), m_ids):
    print(k, i)
    for j in inn:
        #print(j)
        dfm=ipl(matchid = i , inning = j)
        #print(dfm)
            #print(dfm)
        sc_df= sc_df.append(dfm).reset_index(drop=True)
            #print(sc)
sc_df.head